<!doctype html>
<html>
<head>
    <title>Omni Phone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Omni Electronics</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

       
        <div class="container">
          <div class="grid">
              <div class="col-sm-8">
  
                  <h3>Electronics</h3>
  <ul>
      <% for(let i = 0; i < electronics.length; i++){ %>
<li class="list">
    <img class="pic"src="<%=electronics[i].src%>" alt="">
    <span><%=electronics[i].device%></span>
    <span><%=electronics[i].cost%></span>
    <span><%=electronics[i].version%></span>
    <span><%=electronics[i].size%></span>
    <span style="display:none"><%=electronics[i].src%></span>
    <button class="add">Buy</button>
</li>
     <% } %>
  </ul>
                 
           
              </div>
  
              <div class="col-sm-4">
                  <h3>Bought</h3>
                  <ul id="current-order">
                    <% for(let i = 0; i < cart.length; i++){ %>
                        <li class="list">
                            <span><%=cart[i].device%></span>
                            <span><%=cart[i].cost%></span>
                            <span><%=cart[i].version%></span>
                            <span><%=cart[i].size%></span>
                            <button class="delete-item">Return Item</button>
                        </li>
                             <% } %>
                  </ul>
  
  
                  <!-- <button id="clearOrder">Clear Order</button> -->

              </div>
            </div>
          </div>
</div>

<script src="main.js"></script>

</body>
</html>
